/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("FG_Virgil.woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("Cascadia.woff2");
  font-display: swap;
}

/* https://www.freechinesefont.com/simplified-traditional-hanyi-senty-candy/ */
@font-face {
  font-family: "Hanyi";
  src: url("Hanyi Senty Candy-color.ttf");
  font-display: swap;
}
